h1{
    color: blue;
    background-color: rgb(43, 226, 95);
    text-align: center;
}
table,
th,
td{
    border: 2px solid blue;
    border-collapse: collapse;

}
table{
    width: 100%;
    margin: 20px;
    height: 50%
}
td{
    text-align: center;
    text-decoration: coral;
}